
body {
    background-color: azure;
    text-align: center;
}

h1 
{
    color: crimson;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: 300%;
}

h2
{
    color: crimson ;
    font-family: 'Comic Sans MS';
    text-align: center;
}

pre 
{
     background-color: azure;
    font-family: 'Comic Sans MS';
    text-align: center;
}

    pre#hopie {
        background-color: thistle;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

title 
{

    color: crimson;
    font-family: 'Comic Sans MS';
    text-align: center;
}

.p
{
    float:right;
}

    .p button {
        height: 30px;
        width: auto;
        margin-right: 0;
        margin-top: 0;

    }

#hopie:hover
{
color: red;
}